<!-- Navbar -->
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <!-- Branding: Logo and Name -->
    <a class="navbar-brand" href="#">Theme Switcher</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse align-center" id="navbarColor01">
      <!-- Dropdown for theme selection-->
      <ul class="nav navbar-nav mr-auto my-2">
        <li class="nav-item navbar-user dropdown" >
          <a class="nav-link dropdown-toggle bg-primary text-white mt-2" data-toggle="dropdown" href="#" id="nav-drop" aria-expanded="false">
            Themes
          </a>
          <div class="dropdown-menu" aria-labelledby="nav-drop">
            <div data-ng-repeat="theme in themes">
              <a class="dropdown-item button" id="{{ theme.name }}" href="#" ng-click="cssFunc(theme.cdn, theme.colour);">{{ theme.name }}</a>
            </div>
          </div>
        </li>
      </ul>

      <!-- User image and name -->
      <div class="nav-item navbar-user text-white mt-2">
        <img ng-src="{{ profile }}"> {{ name }}
      </div>

    </div>
  </div>
</nav>
<!-- /.navbar -->
