<!-- Preview -->
<div class="container">
  <!-- Text Examples -->
  <div class="card mb-3">
    <h5 class="card-header bg-primary text-white">Text Examples</h5>
    <div class="card-body">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vitae auctor ex. Nam congue enim lorem, eu pulvinar nisi molestie vel. Mauris efficitur nisl id velit posuere, lobortis porttitor tortor porttitor. Ut efficitur dignissim metus, vitae volutpat ex porttitor sed. Aenean rhoncus porta eros, non convallis urna egestas non. Curabitur porttitor dui vel metus facilisis, nec consequat lorem vulputate. Nulla sed semper magna. Aenean metus elit, suscipit ac commodo malesuada, mollis ac est. Nullam ante ante, mollis id tempus vitae, rhoncus non nisi. Cras ac justo et purus pretium aliquam non et eros. Quisque mattis rhoncus turpis efficitur ullamcorper. Fusce sed augue sollicitudin, dignissim magna a, rutrum mauris. Donec elementum diam nisl, imperdiet condimentum metus convallis ut.
      <br/><br/>
      <!-- Heading examples in a dropdown -->
      <div class="dropdown" >
        <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#" id="heading-drop" aria-expanded="false">
          Heading Examples
        </a>
        <div class="dropdown-menu" aria-labelledby="heading-drop">
          <h1>Heading 1</h1>
          <h2>Heading 2</h2>
          <h3>Heading 3</h3>
          <h4>Heading 4</h4>
          <h5>Heading 5</h5>
          <h6>Heading 6</h6>
        </div>
      </div>
    </div>
  </div>

  <!-- Button Examples -->
  <div class="card mb-3">
    <h5 class="card-header bg-primary text-white">Button Examples</h5>
    <p class="card-body center">
      <button type="button" class="btn btn-primary">Primary</button>
      <button type="button" class="btn btn-secondary">Secondary</button>
      <button type="button" class="btn btn-success">Success</button>
      <button type="button" class="btn btn-info">Info</button>
      <button type="button" class="btn btn-warning">Warning</button>
      <button type="button" class="btn btn-danger">Danger</button>
      <button type="button" class="btn btn-link">Link</button>
    </p>
  </div>

  <!-- Plug -->
  <div class="card bg-light mb-3">
    <h5 class="card-header bg-primary"><a class="text-white" href="https://plug.csh.rit.edu">Advertisements by CSH: Plug</a></h5>
    <div class="card-body center">
      <a href="https://plug.csh.rit.edu"><img src="https://plug.csh.rit.edu/data" style="width: 100%"></a>
    </div>
  </div>
  <!-- /Plug -->
</div>
<!-- /Preview -->