<!-- Preview -->
<div class="container">
  <div class="card mb-3">
    <h5 class="card-header bg-primary text-white">Example Card</h5>
    <div class="card-body">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vitae auctor ex. Nam congue enim lorem, eu pulvinar nisi molestie vel. Mauris efficitur nisl id velit posuere, lobortis porttitor tortor porttitor. Ut efficitur dignissim metus, vitae volutpat ex porttitor sed. Aenean rhoncus porta eros, non convallis urna egestas non. Curabitur porttitor dui vel metus facilisis, nec consequat lorem vulputate. Nulla sed semper magna. Aenean metus elit, suscipit ac commodo malesuada, mollis ac est. Nullam ante ante, mollis id tempus vitae, rhoncus non nisi. Cras ac justo et purus pretium aliquam non et eros. Quisque mattis rhoncus turpis efficitur ullamcorper. Fusce sed augue sollicitudin, dignissim magna a, rutrum mauris. Donec elementum diam nisl, imperdiet condimentum metus convallis ut.
    </div>
  </div>

  <!-- Plug -->
  <div class="card bg-light mb-3">
    <h5 class="card-header bg-primary"><a class="text-white" href="https://plug.csh.rit.edu">Advertisements by CSH: Plug</a></h5>
    <div class="card-body center">
      <a href="https://plug.csh.rit.edu"><img src="https://plug.csh.rit.edu/data" style="width: 100%"></a>
    </div>
  </div>
  <!-- /Plug -->
</div>
<!-- /Preview -->